body{
    font: 20px Arial, sans-serif;
    
}

.a-movin{
    background-color: #4E4199;
}

.texto-sobre{
    padding-top: 30px;
    text-align: left;
    font-family: 'Calibri';
    color: aqua;

}

.titulo-sobre{
    text-align: center;
    color: aqua;
}

.missao{
    background-color: #F3C242;
}

.titulo-missao{
    text-align: center;
    color: #754996;
}

.texto-missao{
    padding-top: 30px;
    text-align: justify;
    font-family: 'Calibri';
    color: #754996;
}

.produtos{
    background-color: aqua;
}

.titulo-produtos{
    text-align: center;
    color: rgb(122, 143, 143);
}

.img{
    margin-left: 30px;
    margin-right: 30px;
}

.margin{
    padding-top: 30px;
    padding-bottom: 30px;

}

.plane{
    padding-top: 90px;
}